---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>

<p>
My interest lies at the intersection of Deep Learning and Graphical Modeling. Particularly, I am interested in Bayesian Deep Learning methods and their application in real world problems. During my PhD I have been working on healthcare application. More specifically, I am working on developing a framework to probabilistically predict the future of disease in patients suffering from Multiple Sclerosis from temporal imaging data. Three main aspects of my PhD project are as follows.
<p>
<p>
The primary focus of my PhD work is on developping a model using Probabilistic Deep Learning methods capable of predicitng disease prognosis in MS patients. Although there are multiple approaches one can take to tackle this problem, probabilistic deep learning seems to be an ideal framework for two main reasons: 1. deterministical prediction of future in any real world problem can be very risky and the risk is much higher for healthcare applications as patients lives are at stake. 2. MS is known to be a heterogeneous disease that manifest and develop differently from one patient to another.  
<p>
<p>
I am also interested in unsupersived learning. Due to the scarcity of data in my field which could potentially impact the performance of the model significantly, I am constantly looking for unsupervised methods that can be incorporated in my model. At the moment I am looking into how I can incorporate methods from knowledge distilation and domain adaption in my work. 
<p>
Finally, adding a temporal component to my probabilistic model is another big interest of mine. When it comes to disease prognosis, the sooner we can predict the future of the disease the better but often time we need to follow the trajectory of the disease before being able to make a reliable prediction. That is mostly due to the heterogentiety of the disease. Unfortunately, there are challenges with using popular computer vision methods for video prediction for modeling temporal medical imaging data as the timepoints are fewer and much future in time. Currently I am exploring autoregressive models and possible approaches to combine them with probabilistic deep learning techniques. 
<p>
